doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Hackathon Starter
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/main.css')

  body

    include ../partials/flash

    .page-header
      h3 Sign in
      hr

    form.form-horizontal(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group.row.justify-content-md-center
        label.col-sm-3.col-form-label.text-right.font-weight-bold(for='email') Email
        .col-sm-7
          input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
      .form-group.row.justify-content-md-center
        label.col-sm-3.col-form-label.text-right.font-weight-bold(for='password') Password
        .col-sm-7
          input.form-control(type='password', name='password', id='password', placeholder='Password', required)
      .form-group.row.justify-content-md-center
        .offset-sm-3.col-sm-7
          button.col-sm-3.btn.btn-primary(type='submit')
            i.fa.fa-user
            | Login
          a.btn.btn-link(href='/forgot') Forgot your password?
      .form-group.row.justify-content-md-center
        .offset-sm-3.col-sm-7
          hr
      .form-group.row.justify-content-md-center
        .offset-sm-3.col-sm-7
          a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
            i.fa.fa-facebook
            | Sign in with Facebook

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')

    //- Google Analytics: change UA-38177297-2 to be your site's ID
    script.
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-38177297-2','auto');ga('send','pageview')
    script(src='https://www.google-analytics.com/analytics.js' async defer)

