li.nav-item(class=(title === 'Home') ? 'active' : undefined)
    a.nav-link.text-truncate(href="/") Home
li.nav-item(class=(title === 'Account') ? 'active' : undefined)
    a.nav-link.text-truncate(href="/account") Account
li.nav-item(class=(title === 'API Examples') ? 'active' : undefined)
    a.nav-link.text-truncate(href='/api') API Examples
li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
    a.nav-link.text-truncate(href='/contact') Contact