.sidebar.d-none.d-md-block.bg-dark.h-100.col-2
    nav.navbar.navbar-dark.bg-dark.fixed-top.col-2
        a.navbar-brand(href="/")
            i.fa.fa-cube
            | Project name

    nav.navbar.navbar-dark.bg-dark.mt-5.w-100.pl-0.pr-0
        ul.nav.navbar-nav.flex-column.w-100
            include menu
